html, body {
  margin: 0;
  padding: 0;
}

body {
	background-image: -webkit-linear-gradient(#ed4264, #ffedbc);
}

h1 {
  color: blue;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
}