html, body {
  margin: 0;
  padding: 0;
}

body {
	background-image: -webkit-linear-gradient(#ed4264, #ffedbc);
}

h1 {
  color: blue;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
}

/* Styles nav bar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	color: pink;
	text-align: center;
	padding: 14px 16px;
}